extends layout

block content
  div(class="flex flex-col items-center justify-center min-h-screen bg-gray-100")
    h1(class="text-4xl font-bold mb-6") My Account
    p(class="text-lg mb-4") Welcome, #{username}!
    a(href="/logout" class="px-4 py-2 bg-red-500 text-white rounded") Logout
