extends layout

block content
  div(class="flex flex-col items-center justify-center min-h-screen bg-gray-100")
    h1(class="text-4xl font-bold mb-6") Welcome to the Login System
    div(class="flex space-x-4")
      a(href="/login" class="px-4 py-2 bg-blue-500 text-white rounded") Login
      a(href="/register" class="px-4 py-2 bg-green-500 text-white rounded") Register
